/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all .2s linear;
}


html{
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: black;
  --color-text: #333333;
}

h1,h3{
  font-weight: 200 !important;
}

body{
  background-color: var(--bg) !important;
}

.cf::before,
  .cf::after {
      content: "";
      display: table; 
  }
  
  .cf::after {
      clear: both;
  }

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

.toggle::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .toggle {
  background-color: #358cfd;
}

input:checked + .toggle::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle:active:after {
  width: 45px;
}

/* form */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--bg-panel);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

label{
    color: var(--color-headings);
}

.right{
	padding: 25px 40px;
}

.right input{
  border-radius: 5px;
}

.right textarea{
  border-radius: 5px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  color: var(--color-headings);
}


textarea{
	min-height: 100px;
    color: var(--color-text);
	resize: none;
}


@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media (max-width: 720px){
  .home-section .home-content .bx-menu{
    display: none;
  }
}

.preview{
  width: 310px; height: 310px;
}

@media (max-width: 900px){
  .preview{
    width: 100px;
    height: 100px;
  }
}

.box{
  margin: 0 auto;
  padding: 5px;
  background-clip: padding-box;
  text-align: center;
}

.button{
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover{
  background: #3770db;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  margin: 70px auto;
  padding: 20px;
  background: var(--bg-panel);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3{
  margin-top: 0;
  color: var(--color-headings);
}
.popup h5{
  margin-top: 0;
  color: var(--color-text);
}
.popup .close{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover{
  color: #3770db;
}
.popup .content{
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#comments{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

  .comments-heading{
      letter-spacing: 1px;
      margin: 30px 0px;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .comments-heading h1{
      font-size: 2.2rem;
      font-weight: 500;
      background-color: #3770db;
      color: #fff;
      padding: 10px 20px;
  }

  .comments-heading span{
      font-size: 1.3rem;
      color: var(--color-headings);
      margin-bottom: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
  }

  .comments-box-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
  }

  .comments-box{
      width: 500px;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
      background-color: var(--bg-panel);
      padding: 20px;
      margin: 15px;
      cursor: pointer;
  }

  .profile-img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
  }

  .profile-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: center;
  }

  .profile{
      display: flex;
      align-items: center;
  }

  .name-user{
      display: flex;
      flex-direction: column;
  }

  .name-user strong{
      color: var(--color-headings);
      font-size: 1.1rem;
      letter-spacing: 0.5px;
  }

  .name-user span{
      color: var(--color-text);
      font-size: 0.8rem;
  }

  .reviews{
      color: #f9d71c;
  }

  .box-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .user-comment p{
      font-size: 0.9rem;
      color: var(--color-text);
  }

  /* foto perfil */
  .action .profile{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .action .menu{
    position: absolute;
    top: 120px;
    right: 8%;
    padding: 15px 25px;
    background-color: #f2f2f2;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 40px;
    border: 0.5px solid #d1d1d1;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  .action .menu.active{
    top: 115%;
    visibility: visible;
    opacity: 1;
  }

  .action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: #4d84e2;
    transform: rotate(45deg);
  }

  .action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
  }

  .action .menu h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }

  .action .menu .un{
    padding-left: 0px;
  }

  .action .menu .un .info{
    list-style: none;
    padding: 15px 20px;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un .info_button{
    list-style: none;
    padding: 15px 30%;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un .sair{
    list-style: none;
    padding: 15px 20px;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu .un li:hover img{
    opacity: 1;
  }

  .action .menu .un li i{
    opacity: 0.5;
    transition: 0.5s;
    font-size: 20px;
  }

  .action .menu .un li:hover i{
    opacity: 1;
  }

  .action .menu .un li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    transition: 0.5s;
  }

  .action .menu .un .info:hover a{
    color: blue;
  }

  .action .menu .un .sair:hover a{
    color: red;
  }


  .box .box-select{
    background: #4d84e2;
    color: #fff;
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 49px;
    font-size: 20px;
    -webkit-appearance: button;
    outline: none;
    border-left: 10px;
  }

  body {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 900;
  }
  
  p {
    line-height: 1.5;
  }
  
  .container-fluid {
    padding: 0 1em;
  }
  
  .container {
    margin: 0 auto;
    max-width: 996px;
  }
  
  @keyframes show-header {
      0% {
          top: -4em;
          opacity: 0;
      }
      100% {
          top: 0;
          opacity: 1;
      }
  }
  
  /* NAVBAR */

header{
    top:0;
    left:0;
    width:100%;
    background:var(--bg-panel);
    height: 100px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .navbar{
  display: flex;
  align-items: center;
  gap: 30px;
}

header .logo{
    font-size: 2rem;
    color: #5995fd;
}

header .logo span{
    color: black;
}

header .navbar a{
    font-size: 1rem;
    margin-left: 1rem ;
    color: #5995fd;
    text-decoration: none;
}

header .navbar a:hover{
    color: #5995fd;
}

header .navbar select{
  text-align: center;
  background: none;
  border: none;
  font-size: 1rem;
  width: 150px;
  color: #5995fd;
}

header input{
    display: none;
}

header .fas{
    font-size: 3rem;
    color: #5995fd;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.nav-logo{
  height: 45px; 
  width: 450px;
}

@media (max-width: 450px){
  .nav-logo{
    
    height: 20px; 
    width: 200px;
  }
}

header nav .action{
  display: inline-flex;
}
  

  .field{
    background-color: var(--bg);
    border: none;
    border-radius: 40px !important;
    display: block;
    margin-bottom: 1em;
    margin-left: 15px;
    padding: 1em;
    color: var(--color-text);
    width: 100%;
  }
  
  /* NAVBAR */
 .heading{
   text-align: center;
   color: var(--color-headings);
   text-transform: uppercase;
   padding:1rem;
   font-size: 2.5rem;
   padding-bottom: 2rem;
 }
 
 .heading span{
   color:#4d84e2;
   text-transform: uppercase;
 }

 .product{
  padding: 20px 100px;
 }

 .product .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:0.5rem;
 }
 
 .product .box-container .boxx{
   flex:1 1 18rem;
   text-align: center;
   padding:2rem;
   border:.1rem solid rgba(0,0,0,.3);
   background-color: var(--bg-panel);
   border-radius: .5rem;
   overflow: hidden;
   position: relative;
 }
 
 .product .box-container .boxx img{
   height: 12rem;
 }
 
 .product .box-container .boxx .discount{
   position: absolute;
   top:1rem; left: 1rem;
   background:#5995fd;
   color: #fff;
   padding:.7rem 1rem;
   font-size: 2rem;
 }
 
 .product .box-container .boxx .icons{
   position: absolute;
   top:.5rem; right:-6rem;
 }
 
 .product .box-container .boxx:hover .icons{
   right:1rem;
 }
 
 .product .box-container .boxx .icons a{
   display: block;
   height:2.9rem;
   width:2.9rem;
   line-height: 2.9rem;
   font-size: 1.2rem;
   cursor: pointer;
   color: black;
   background:rgba(0,0,0,.05);
   border-radius: 50%;
   margin-top: .7rem;
 }
 
 .product .box-container .boxx .icons a:hover{
   background: #5995fd;
   color:#fff;
 }
 
 .product .box-container .boxx .icons button{
   background: none;
   border: none;
 }
 
 .product .box-container .boxx .icons button:hover{
   background: none;
   border: none;
 }
 
 .product .box-container .boxx h3{
   color:var(--color-headings);
   font-size: 1.7rem;
 }
 
 .product .box-container .boxx .stars i{
   padding:1rem .1rem;
   font-size: 1rem;
   color:gold;
 }
 
 .product .box-container .boxx .price{
   font-size: 1.2rem;
   color: var(--color-text);
   padding:.5rem 0;
   font-weight: 200 !important;
 }
 
 .product .box-container .boxx .price span{
   font-size: 1.2rem;
   color:#999;
   text-decoration: line-through;
 }
 .product .box-container .boxx .btn{
   display: block;
 }
 
/* FEEDBACK */
.post{
  display: none;
}
.text{
  font-size: 25px;
  color: black;
  font-weight: 500;
}
.edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
.edit:hover{
  text-decoration: underline;
}
.star-widget{
  text-align: center;
}
.star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: black;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px rgb(0, 0, 0);
}
#rate-1:checked ~ .form_feedback header:before{
  content: "Muito ruim";
}
#rate-2:checked ~ .form_feedback header:before{
  content: "Ruim";
}
#rate-3:checked ~ .form_feedback header:before{
  content: "Regular";
}
#rate-4:checked ~ .form_feedback header:before{
  content: "Bom";
}
#rate-5:checked ~ .form_feedback header:before{
  content: "Muito bom";
}
.container .form_feedback{
  display: none;
}
input:checked ~ .form_feedback{
  display: block;
}
.form_feedback header{
  width: 100%;
  font-size: 25px;
  color: black;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
.form_feedback .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.star-review{
  position: relative;
  width: 520px;
  background: #3770db;
  padding: 20px 30px;
  border: 1px solid #1062fa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.form_feedback .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: black;
  border: 1px solid black;
  background: #fff;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #032a74;
}
.form_feedback #btn-opinion{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
.form_feedback #btn-opinion button{
  height: 100%;
  width: 100%;
  border: 1px solid #1063fd;
  outline: none;
  background: #fff;
  color: black;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
.form_feedback #btn-opinion button:hover{
  background: #1063fd;
}

.btnpart{
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s; 
  text-transform: uppercase;
}

.btnpart:hover {
  background-color: #326aca;
}

.btnpart2{
  width: 150px;
  background-color: #fd5959;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px !important;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s; 
  text-transform: uppercase;
}

.btnpart2:hover {
  background-color: #ca3232;
}