/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html{
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: black;
  --color-text: #333333;
}

body{
  background-color: var(--bg) !important;
}

.cf::before,
  .cf::after {
      content: "";
      display: table; 
  }
  
  .cf::after {
      clear: both;
  }

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

.toggle::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .toggle {
  background-color: #358cfd;
}

input:checked + .toggle::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle:active:after {
  width: 45px;
}




/* form */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--bg-panel);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

label{
    color: var(--color-headings);
}

.right{
	padding: 25px 40px;
}

.right input{
  border-radius: 5px;
}

.right textarea{
  border-radius: 5px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    color: var(--color-headings);
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background: linear-gradient(120deg,#358CFD, rgb(1, 44, 100));
}


textarea{
	min-height: 100px;
    color: var(--color-text);
	resize: none;
}


@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media (max-width: 720px){
  .home-section .home-content .bx-menu{
    display: none;
  }
}

.preview{
  width: 310px; height: 310px;
}

@media (max-width: 900px){
  .preview{
    width: 100px;
    height: 100px;
  }
}

/* cards */
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.grid > article{
  border: none;
  background-color: var(--bg-panel);
  box-shadow: 10px 8px 15px 4px rgba(0,0,0,0.3);
  text-align: center;
  width: 260px;
  transition: transform .3s;
  border-radius: 25px;
}

.grid > article:hover{
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba (0,0,0,0.3);
}

.grid > article img{
  width: 50%;
}

.text{
  padding: 0 20px 20px;
  color: var(--color-text);
}

.text h3{
  text-transform: uppercase;
  color: var(--color-headings);
}

@media (max-width: 768px){
  .grid{
      grid-template-columns: repeat(1, 1fr);
      margin: 50px;
  }

  .grid > article{
      text-align: center;
  }
}

.box{
  margin: 0 auto;
  padding: 5px;
  background-clip: padding-box;
  text-align: center;
}

.button{
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover{
  background: #3770db;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  margin: 70px auto;
  padding: 20px;
  background: var(--bg-panel);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3{
  margin-top: 0;
  color: var(--color-headings);
}
.popup h5{
  margin-top: 0;
  color: var(--color-text);
}
.popup .close{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover{
  color: #3770db;
}
.popup .content{
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#comments{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

  .comments-heading{
      letter-spacing: 1px;
      margin: 30px 0px;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .comments-heading h1{
      font-size: 2.2rem;
      font-weight: 500;
      background-color: #3770db;
      color: #fff;
      padding: 10px 20px;
  }

  .comments-heading span{
      font-size: 1.3rem;
      color: var(--color-headings);
      margin-bottom: 10px;
      letter-spacing: 2px;
      text-transform: uppercase;
  }

  .comments-box-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
  }

  .comments-box{
      width: 500px;
      box-shadow: 2px 2px 30px rgba(0,0,0,0.5);
      background-color: var(--bg-panel);
      padding: 20px;
      margin: 15px;
      cursor: pointer;
  }

  .profile-img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
  }

  .profile-img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: center;
  }

  .profile{
      display: flex;
      align-items: center;
  }

  .name-user{
      display: flex;
      flex-direction: column;
  }

  .name-user strong{
      color: var(--color-headings);
      font-size: 1.1rem;
      letter-spacing: 0.5px;
  }

  .name-user span{
      color: var(--color-text);
      font-size: 0.8rem;
  }

  .reviews{
      color: #f9d71c;
  }

  .box-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  }

  .user-comment p{
      font-size: 0.9rem;
      color: var(--color-text);
  }

  /* foto perfil */
  .action .profile{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .action .menu{
    position: absolute;
    top: 120px;
    right: -28%;
    padding: 10px 20px;
    background-color: rgb(228, 228, 228);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  .action .menu.active{
    top: 115%;
    visibility: visible;
    opacity: 1;
  }

  .action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: rgb(197, 197, 197);
    transform: rotate(45deg);
  }

  .action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
  }

  .action .menu h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }

  .action .menu .un{
    padding-left: 0;
  }

  .action .menu .un li{
    list-style: none;
    padding: 10px 8px;
    border-top :1px solid rgba (0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu .un li:hover img{
    opacity: 1;
  }

  .action .menu .un li i{
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu .un li:hover i{
    opacity: 1;
  }

  .action .menu .un li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }

  .action .menu .un .info:hover a{
    color: blue;
  }

  .action .menu .un .sair:hover a{
    color: red;
  }

  .box select{
    background: #4d84e2;
    color: #fff;
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    -webkit-appearance: button;
    outline: none;
    border-left: 10px;
  }

  /* foto perfil */
  .action .profile{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .action .menu{
    position: absolute;
    top: 120px;
    right: -28%;
    padding: 10px 20px;
    background-color: rgb(228, 228, 228);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  @media (max-width: 900px) {
    .action .menu{
      position: absolute;
      top: 120px;
      left: 650px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 150px;
    }
  }
  @media (max-width: 800px) {
    .action .menu{
      position: absolute;
      top: 120px;
      left: 580px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 170px;
    }
  }
  @media (max-width: 700px) {
    .action .menu{
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 10px;
    }
  }

  .action .menu.active{
    top: 115%;
    visibility: visible;
    opacity: 1;
  }

  .action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: rgb(197, 197, 197);
    transform: rotate(45deg);
  }

  .action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
  }

  .action .menu h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }

  .action .menu ul li{
    list-style: none;
    padding: 10px 8px;
    border-top :1px solid rgba (0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu ul li:hover img{
    opacity: 1;
  }

  .action .menu ul li i{
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu ul li:hover i{
    opacity: 1;
  }

  .action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
  }

  .action .menu ul .info:hover a{
    color: blue;
  }

  .action .menu ul .sair:hover a{
    color: red;
  }
  
  body {
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 900;
  }
  
  p {
    line-height: 1.5;
  }
  
  .container-fluid {
    padding: 0 1em;
  }
  
  .container {
    margin: 0 auto;
    max-width: 996px;
  }
  
  @keyframes show-header {
      0% {
          top: -4em;
          opacity: 0;
      }
      100% {
          top: 0;
          opacity: 1;
      }
  }
  
  /* NAVBAR */
  nav {
    background-color: #e8f0ff;
    box-shadow: 0 2px 2px rgba(0,0,0,.45);
    position: relative;
    top: 0;
  }
  
  nav .brand {
    display: inline-block;
    float: left;
    font-size: 1.25em;
    font-weight: 900;
  }
  
  nav .brand a {
    color: #444;
    display: block;
    padding: 1em 0;
  }
  
  nav .nav-toggle {
    color: #444;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.25em;
    padding: 1em 0;
    z-index: 1000
  }
  
  nav .un-navbar {
    border-top: 1px solid #ccc;
    clear: both;
    list-style: none;
    margin: 0 -1em;
    margin-left: 25%;
    padding: 0;
    z-index: 999;
  }
  
  nav .un-navbar .navbar {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 10px;
  }
  
  nav .un-navbar .navbar a {
    color: #444;
    display: block;
    padding: .75em;
    text-decoration: none;
    transition: 0.5s;
  }

  nav .un-navbar .navbar a:hover, nav .un-navbar .navbar a:focus, nav .un-navbar .navbar a:active {
    color: #5995fd;
  }
  
  nav.sticky {
    animation: show-header .5s ease;
    position: fixed;
    top: 0;
    width: 100%;
  }
  

  .field{
    background-color: var(--bg);
    border: none;
    border-radius: 40px !important;
    display: block;
    margin-bottom: 1em;
    margin-left: 15px;
    padding: 1em;
    color: var(--color-text);
    width: 100%;
  }
  
  /* NAVBAR */

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
  }
  
  .grid > article{
    border: none;
    background-color: var(--bg-panel);
    box-shadow: 10px 8px 15px 4px rgba(0,0,0,0.3);
    text-align: center;
    width: 260px;
    transition: transform .3s;
    border-radius: 25px;
  }
  
  .grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba (0,0,0,0.3);
  }
  
  .grid > article img{
    width: 50%;
  }
  
  .text{
    padding: 0 20px 20px;
  }
  
  .text h3{
    text-transform: uppercase;
    color: var(--color-headings);
  }
  
  .text p{
      color: var(--color-text);
  }

  .btnpart{
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s; 
    text-transform: uppercase;
  }

  .btnpart:hover {
    background-color: #326aca;
  }
  
  .btnpart2{
    width: 150px;
    background-color: #fd5959;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s; 
    text-transform: uppercase;
  }

  .btnpart2:hover {
    background-color: #ca3232;
  }

  @media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 40px;
    }
  
    .grid > article{
        text-align: center;
    }
  }

  /* SPLASH EM BAIXO DA NAVBAR */
  
  .splash {
    background: linear-gradient(rgba(44, 62, 80, 0.65), rgba(52, 152, 219, 0.65)),
                  url("") no-repeat fixed center;
      background-size: cover;
      color: #fff;
  }
  
  .splash .container {
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
  
  .profile-image {
    display: block;
    margin: 0 auto 1em;
    width: 700px;
  }
  
  .splash h1 {
    font-size: 3em;
    margin-bottom: .15em;
    text-align: center;
  }
  
  .splash .lead, .splash .continue {
    display: block;
    text-align: center;
  }
  
  .splash .lead {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
  }

  /* SPLASH EM BAIXO DA NAVBAR */

  /* 2 SPLASH */
  
  .intro .container, .features .container, .portfolio .container, .contact .container {
    padding: 5em 0;
  }
  
  .intro, .features, .portfolio, .contact {
    text-align: center;
  }
  
  .intro {
    background-color: #2570f1; /* POR FAVOR PELO AMOR DE DEUS TROCA ESSA COR EU NÃO SEI OQ FAZER */
    color: #fff;
  }
  
  .intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
    color: #fff;
  }
  
  .features img {
    display: block;
    margin: 0 auto 1em;
    max-width: 200px;
  }
  
  .features .col-3 {
    margin: 3em auto;
    width: 100%;
  }

  /* 2 SPLASH */

  /* 3 SPLASH */
  
  .portfolio {
    background-color: #5995fd;
    color: #fff;
  }
  
  .gallery .gallery-image {
    margin: 1em auto;
    width: 100%;
  }
  
  .gallery .gallery-image img {
    background-color: #5995fd;
    border-radius: 4px;
    display: block;
    height: auto;
    padding: 6px;
    width: 100%;
  }
  
  /* 3 SPLASH */

  
  /* MEDIA QUERIES */
  
  @media (min-width: 768px) {
    
    nav .nav-toggle {
      display: none;
    }
    
    nav .un-navbar {
      border: none;
      clear: none;
      display: inline-block !important;
      float: right;
      margin: 0;
      margin-left: 25%;
      padding: 25px 0;
    }
    
    nav .un-navbar .navbar {
      border: none;
      display: inline-block;
      float: left;
      margin-right: 1.5em;
    }
    
    nav .un-navbar .navbar:last-of-type {
      margin-right: 0;
    }
    
    nav .un-navbar .navbar a {
      padding: 0;
    }
    
    .splash h1 {
      font-size: 6em;
    }
    
    .splash .lead {
      font-size: 3em;
    }
    
    .features .col-3 {
      float: left;
      margin: 2em 5% 0 0;
      padding: 0 1em;
      width: 30%;
    }
    
    .features .col-3:last-of-type {
      margin-right: 0;
    }
    
    .gallery .gallery-image {
      float: left;
      margin-right: 2.5%;
      width: 31.6666666667%;
    }
    
    .gallery .gallery-image:nth-of-type(3n) {
      margin-right: 0;
    }
    
    .contact form {
      padding: 3em 2em 2em;
    }
    
    .contact form input[type="submit"] {
      padding: 1em 3em;
      width: auto;
    }
    
    .contact form input.full-half {
      float: left;
      margin-right: 2.5%;
      width: 48.75%;
    }
    
    .contact form input.full-half:nth-of-type(2n) {
      margin-right: 0;
    }
    
    .contact form textarea {
      height: 12em;
    }
    
  }