/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  --bg: #f9f9f9;
  --bg-panel: #EBEBEB;
  --color-headings: black;
  --color-text: #333333;
}

body{
  background-color: var(--bg);
  align-items: center;
  color: #444;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none !important;
}

h1 {
  font-weight: 900;
}

p {
  line-height: 1.5;
}

.container-fluid {
  padding: 0 1em;
}

.cf::before,
  .cf::after {
      content: "";
      display: table; 
  }
  
  .cf::after {
      clear: both;
  }

.container {
  margin: 0 auto;
  max-width: 996px;
}

@keyframes show-header {
    0% {
        top: -4em;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

/* NAVBAR */
header{
  top:0;
  left:0;
  width:100%;
  background:#fff;
  height: 100px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar{
display: flex;
align-items: center;
gap: 30px;
}

header .logo{
  font-size: 2rem;
  color: #5995fd;
}

header .logo span{
  color: black;
}

header .navbar a{
  margin-left: 20px ;
  color: #5995fd;
}

header .navbar a:hover{
  color: #5995fd;
}

header .navbar select{
  text-align: center;
  background: none;
  font-size: 1rem;
  width: 150px;
  color: #5995fd;
  border: none;
}

header input{
  display: none;
}

header .fas{
  font-size: 3rem;
  color: #5995fd;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.nav-logo{
height: 45px; 
width: 450px;
}

@media (max-width: 450px){
.nav-logo{
  
  height: 20px; 
  width: 200px;
}
}

header nav .action{
display: inline-flex;
}

.section-perfil-usuario .perfil-usuario-body,
.section-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-perfil-usuario .perfil-usuario-fundo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.section-perfil-usuario .perfil-usuario-fundo {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    border-radius: 0 0 20px 20px;
}

.section-perfil-usuario .perfil-usuario-fundo .button-fundo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    cursor: pointer;
}

.section-perfil-usuario .perfil-usuario-fundo .button-fundo i {
    margin-right: 1rem;
}

.section-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid var(--bg-panel);
    background-color: var(--bg-panel);
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.section-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

.section-perfil-usuario .perfil-usuario-avatar .button-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: var(--bg-panel);
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.section-perfil-usuario .perfil-usuario-avatar .button-avatar i{
  color: var(--color-headings);
}

.section-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.section-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    color: var(--color-headings);
}

.section-perfil-usuario .perfil-usuario-body .texto {
    color: var(--color-text);
    font-size: 0.95em;
}

.section-perfil-usuario .perfil-usuario-footer,
.section-perfil-usuario .perfil-usuario-descricao,
.section-perfil-usuario .sair {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: var(--bg-panel);
    border-radius: 15px;
    width: 100%;
}

.section-perfil-usuario .perfil-usuario-descricao {
    margin-bottom: 1.25rem;
    text-align: center;
}

.section-perfil-usuario .sair {
    margin-top: 1.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

.section-perfil-usuario .dados {
    width: 50%;
    list-style: none;
}


.section-perfil-usuario .dados li {
    padding: 5px 0;
    color: var(--color-headings);
}

.section-perfil-usuario .dados h4{
    color: var(--color-text);
}

.section-perfil-usuario .dados li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.section-perfil-usuario .redes-sociais {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.section-perfil-usuario .redes-sociais .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.section-perfil-usuario .redes-sociais .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.section-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.section-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  margin-top: 0.5rem;
  float: right;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background-color: #358cfd;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/* Adaoptação aos dispositivos */
@media (max-width: 750px) {
    .section-perfil-usuario .dados {
        width: 100%;
    }

    .section-perfil-usuario .perfil-usuario-fundo,
    .section-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .section-perfil-usuario .redes-sociais {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .section-perfil-usuario .redes-sociais .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
    /* foto perfil */
  .action .profile{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .action .menu{
    position: absolute;
    top: 110px;
    right: 8%;
    padding: 15px 25px;
    background-color: rgb(228, 228, 228);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }

  @media (max-width: 900px) {
    .action .menu{
      position: absolute;
      top: 120px;
      left: 650px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 150px;
    }
  }
  @media (max-width: 800px) {
    .action .menu{
      position: absolute;
      top: 120px;
      left: 580px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 170px;
    }
  }
  @media (max-width: 700px) {
    .action .menu{
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 1;
    }

    .action .menu::before{
      position: absolute;
      top: -5px;
      left: 10px;
    }
  }

  .action .menu.active{
    visibility: visible;
    opacity: 1;
  }

  .action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background-color: rgb(197, 197, 197);
    transform: rotate(45deg);
  }

  .action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
  }

  .action .menu h3 span{
    font-size: 14px;
    color: #555;
    font-weight: 400;
  }

  .action .menu .un{
    padding-left: 0px;
  }

  .action .menu .un .info{
    list-style: none;
    padding: 21px 20px;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un .info_button{
    list-style: none;
    padding: 15px 30%;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un .sair{
    list-style: none;
    padding: 15px 20px;
    border-top :1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }

  .action .menu .un li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
  }

  .action .menu .un li:hover img{
    opacity: 1;
  }

  .action .menu .un li i{
    opacity: 0.5;
    transition: 0.5s;
    font-size: 20px;
  }

  .action .menu .un li:hover i{
    opacity: 1;
  }

  .action .menu .un li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    transition: 0.5s;
  }

  .action .menu .un .info:hover a{
    color: blue;
  }

  .action .menu .un .sair:hover a{
    color: red;
  }

    /* A mais */
    .field{
      background-color: var(--bg);
      border: none;
      border-radius: 40px !important;
      display: block;
      margin-bottom: 1em;
      margin-left: 15px;
      padding: 1em;
      color: var(--color-text);
      width: 100%;
    }

  .btnpart{
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s; 
    text-transform: uppercase;
  }

  .btnpart:hover {
    background-color: #326aca;
  }
  
  .btnpart2{
    width: 150px;
    background-color: #fd5959;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s; 
    text-transform: uppercase;
  }

  .btnpart2:hover {
    background-color: #ca3232;
  }

  .grid{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
  }
  
  .grid > article{
    border: none;
    background-color: var(--bg-panel);
    box-shadow: 10px 8px 15px 4px rgba(0,0,0,0.3);
    text-align: center;
    width: 260px;
    transition: transform .3s;
    border-radius: 25px;
  }
  
  .grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba (0,0,0,0.3);
  }
  
  .grid > article img{
    width: 50%;
  }
  
  .text{
    padding: 0 20px 20px;
  }
  
  .text h3{
    text-transform: uppercase;
    color: var(--color-headings);
  }
  
  .text p{
      color: var(--color-text);
  }

  .btnpart{
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s; 
    text-transform: uppercase;
  }

  .btnpart:hover {
    background-color: #326aca;
  }
  
  @media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 40px;
    }
  
    .grid > article{
        text-align: center;
    }
  }