@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
  overflow: hidden;
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-headings: black;
  --color-text: #333333;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #bddaff !important;
  align-items: center;
}

h1 {
  font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slidec {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.img {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(63, 18, 61, 0.7);
}

.img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slidec:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(63, 18, 61, 0.7);
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
}

.slidec:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slidec:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slidec, .slidec:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
  
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}
  
label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background-color: #358cfd;
}
  
input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 45px;
}

h2{
  margin-left: 10px;
  color: var(--color-headings);
}

nav{
  background: transparent;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 20px 0px;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #3770db;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #000;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: #3770db;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}

@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
}

img{
	position: absolute;
	top: 36%;
	left: 15%;
	width: 1000px;
}

#title {
  z-index:2;
}

#title h1 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;

}

#slide1:before {
  background-image: url("https://lorempixel.com/640/480/abstract/4/");
  transform: translateZ(-1px) scale(2);
}

#slide2 {
  background-image: url("https://lorempixel.com/640/480/abstract/3/");
  z-index:2;
}

#slide3:before {
  background-image: url("https://lorempixel.com/640/480/abstract/5/");
  transform: translateZ(-1px) scale(2);
}

#slide4 {
  background: #222;
}

/* carrosel */
.slider{
  position: relative;
  background: #000116;
  height: 500px;
  overflow: hidden;
  display: relative;
  margin-top: 1%;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: static;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .slider{
    width: 100%;
    position: relative;
    margin-left: 0.5%;
  }
}

/* footer */
footer {
  position: static;
  bottom: 0;
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 40px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #3F71EA;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #3F71EA;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}

/* form */

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 900px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--bg-panel);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("imgs/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.right input{
  border-radius: 5px;
  color: var(--color-text);
}

.right textarea{
  border-radius: 5px;
  color: var(--color-text);
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  color: var(--color-headings);
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background: linear-gradient(120deg,#358CFD, rgb(1, 44, 100));
}

.field{
	width: 100%;
	border: 2px solid #ccc;
	outline: none;
	background-color: var(--bg-panel);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: var(--bg);
}

textarea{
	min-height: 100px;
	resize: none;
	
}

.btn2{
	width: 100% !important;
	padding: 0.5rem 1rem !important;
	background-color: #358CFD !important;
    color: #fff !important;
    font-size: 1.1rem !important;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    transition: .3s !important;
    border-radius: 5px !important;
    outline: none !important;
    font-size: 16px !important;
    padding-left: 15px !important;
    border: 1px solid var(--bg-panel) !important;
    border-bottom-width: 2px !important;
    transition: all 0.3s ease !important;
}

.btn2:hover{
  
  background: linear-gradient(45deg,#221372, #1a18ad, #1f58a1, #3181e9);
  background-size: 300% 300%;
  animation: colors 10s ease infinite;
}

@keyframes colors{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

@media (max-width: 720px){
  .home-section .home-content .bx-menu{
    display: none;
  }
}

/* foto perfil */
.action .profile{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu{
  position: absolute;
  top: 120px;
  right: -28%;
  padding: 10px 20px;
  background-color: rgb(228, 228, 228);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.action .menu.active{
  top: 115%;
  visibility: visible;
  opacity: 1;
}

.action .menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: rgb(197, 197, 197);
  transform: rotate(45deg);
}

.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.2em;
}

.action .menu h3 span{
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

.action .menu .un{
  padding-left: 0;
}

.action .menu .un li{
  list-style: none;
  padding: 10px 8px;
  border-top :1px solid rgba (0,0,0,0.05);
  display: flex;
  align-items: center;
}

.action .menu .un li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu .un li:hover img{
  opacity: 1;
}

.action .menu .un li i{
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu .un li:hover i{
  opacity: 1;
}

.action .menu .un li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu .un .info:hover a{
  color: blue;
}

.action .menu .un .sair:hover a{
  color: red;
}

/* foto perfil */
.action .profile{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu{
  position: absolute;
  top: 120px;
  right: -28%;
  padding: 10px 20px;
  background-color: rgb(228, 228, 228);
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

@media (max-width: 900px) {
  .action .menu{
    position: absolute;
    top: 120px;
    left: 1%;
    z-index: 1;
  }

  .action .menu::before{
    position: absolute;
    top: -5px;
    left: 10px;
  }
}

.action .menu.active{
  top: 115%;
  visibility: visible;
  opacity: 1;
}

.action .menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: rgb(197, 197, 197);
  transform: rotate(45deg);
}

.action .menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.2em;
}

.action .menu h3 span{
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

.action .menu ul li{
  list-style: none;
  padding: 10px 8px;
  border-top :1px solid rgba (0,0,0,0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img{
  opacity: 1;
}

.action .menu ul li i{
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover i{
  opacity: 1;
}

.action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul .info:hover a{
  color: blue;
}

.action .menu ul .sair:hover a{
  color: red;
}